// @import 'yoga';
// @import 'normalize';
//
$c-blue: #A3D3E8;
$c-black: #010626;
$c-purple: #8F72B7;
$c-pink: #DBB8E2;
$c-white: #FFFFFF;


// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';
